/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.eot');
  src: local('Muller Medium'), local('MullerMedium'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('..//fonts/MullerRegular.eot');
  src: local('Muller Regular'), local('MullerRegular'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.eot');
  src: local('Muller Bold'), local('MullerBold'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* normolize--------------------------------------------------------- */
html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  min-width: 320px;
  font-family: 'Muller', sans-serif;
  background-color: #F1F1F1;
}
a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
img {
  max-width: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
address {
  font-style: normal;
}

/* global--------------------------------------------------------- */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.btn {
  color: #C93;
  padding: 13px 20px;
  border-radius: 10px;
  border: 1px solid #C93;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.btn:hover,
.btn:focus {
  color: #FFF;
  background: #C93;
  outline: none;
}
.btn:active {
  background: #A47312;
}
.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #C93;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
.link:hover {
  color: #F0BF5F;
}
.link:active {
  color: #FFF;
}
.link::after {
  content: "";
  width: 11px;
  height: 11px;
  border-top: 2px solid #C93;
  border-right: 2px solid #C93;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
.link:hover::after {
  margin-left: 15px;
  border-color: #F0BF5F;
}
.link:focus::after {
  margin-left: 0;
  color: #F0BF5F;
}
.title {
  color: #333;
  font-size: 40px;
  font-weight: 400;
  padding: 70px 0 20px 40px;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.lock {
  overflow: hidden;
}
@media  (max-width: 990px) {
  .container {
    max-width: 960px;
  }
  .link::after {
    margin-left: 3px;
  }
}
@media  (max-width: 540px) {
  .link::after {
    width: 9px;
    height: 9px;
  }
  .title {
    font-size: 24px;
    padding-left: 30px;
    padding-top: 20px;
  }
}

/* burger-------------–––––––----------------------------- */
.burger-menu {
  display: none;
}
@media  (max-width: 768px) {
  .burger-menu {
    position: relative;
    width: 36px;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-left: 20px;
  }
  .burger-menu::before,
  .burger-menu::after {
    content: "";
    position: absolute;
    background-color: #333;
    height: 3px;
    width: 100%;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .burger-menu::before {
    top: 0;
  }
  .burger-menu::after {
    bottom: 0;
  }
  .burger-menu span {
    height: 3px;
    width: 80%;
    background-color: #333;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .burger-menu.active span {
    width: 0;
  }
  .burger-menu.active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }
  .burger-menu.active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
        -ms-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }
}

/* header ---------------------------------------------- */
.header {
  min-height: 74px;
}
.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top__logo {
  margin: 30px 40px 30px 0;
}
.header-top__img {
  display: block;
}
.header-top__tel {
  color: #666;
  font-size: 20px;
  font-weight: 500;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.header-top__tel:hover {
  color: #CC9933;
}
.header-top__tel:focus {
  outline: 1px solid #C93;
}
.header-top__tel:active {
  border: none;
  color: #A47312;
  outline: none;
}
.header-top__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  padding: 5px;
  width: 165px;
  color: #C93;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  gap: 5px;
}
.header-top__account path {
  -webkit-transition: fill .3s ease;
  -o-transition: fill .3s ease;
  transition: fill .3s ease;
}
.header-top__account:hover {
  color: #F0BF5F;
}
.header-top__account:hover path {
  fill: #F0BF5F;
}
.header-top__account:focus {
  color: #C93;
  outline: 1px solid #C93;
}
.header-top__account:focus path {
  fill: #C93;
}
.header-top__account:active {
  color: #A47312;
}
.header-top__account:active path {
  fill: #A47312;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  background: #FFF;
  padding: 13px 45px 13px 35px;
}
.nav__list {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__item {
  padding: 9px 0;
}
.nav__link {
  display: block;
  color: #666;
  padding: 5px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.nav__link:hover {
  color: #CC9933;
}
.nav__link:focus {
  color: #CC9933;
  outline: 1px solid #C93;
}
.nav__link:active {
  color: #A47312;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  gap: 40px;
}
.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media  (max-width: 990px) {
  .header__nav {
    position: relative;
    border-radius: 15px 15px 0 15px;
  }
  .nav__list {
    width: 100%;
  }
  .header__buttons {
    position: absolute;
    right: 0;
    top: 100%;
    padding: 13px;
    border-radius: 0 0 15px 15px;
    gap: 15px;
    background-color: #FFF;
  }
}
@media  (max-width: 768px) {
  .nav {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 13px 40px 13px 40px;
    z-index: 50;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    padding-top: 75px;
  }
  .nav__link {
    font-size: 30px;
  }
  .header__buttons {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: transparent;
    margin-left: 0;
    gap: 30px;
    font-size: 20px;
  }
  .header-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 15px;
    background-color: #F1F1F1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 4px #7b7575;
            box-shadow: 0px 0px 4px #7b7575;
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    -o-transition: transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
  }
  .header-top.hide {
    -webkit-transform: translateY(-80px);
        -ms-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  .header-top__logo {
    margin: 10px 20px 10px 0;
  }
  .header-top__account {
    margin-right: auto;
    margin-left: 0;
    width: auto;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  } 
  .header-top__account span {
    display: none;
  }
  .account-header__icon {
    width: 30px;
    height: 30px;
  }
  .header-top__tel {
    display: none;
  }
  .open {
    left: 0;
  }
  @media  (max-width: 540px) {
    .header-top__logo {
      margin-right: 10px;
    }
  }
}

/* offer--------------------------------------------------- */
.offer-wrap {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: dense;
  -ms-grid-columns: 1fr 24px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 24px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 24px;
}
.offer-wrap > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.offer-wrap > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.offer-wrap > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.offer-wrap > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.card-offer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 573px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 40px 15px 40px 40px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-offer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: -webkit-gradient(linear, left top, right top, color-stop(-2.9%, rgba(48, 64, 89, 0.84)), color-stop(65.7%, rgba(53, 65, 83, 0.00)));
  background: -o-linear-gradient(left, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%);
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%);
}
.card-offer_1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  background-image: url(../sourses/maldives.jpg);
}
.card-offer_2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
  background-image: url(../sourses/krit.jpg);
}
.card-offer_3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 3 / 3;
  background-image: url(../sourses/suite.jpg);
  background-repeat: no-repeat;
}
.card-offer_3::before {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-2.9%, rgba(48, 64, 89, 0.84)), color-stop(65.7%, rgba(53, 65, 83, 0.00)));
  background: -o-linear-gradient(bottom, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%);
  background: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%);
}
.card-offer_3 .card-offer__title {
  margin-top: 170px;
  margin-right: 100px;
  font-size: 60px;
}
.card-offer_3 .card-offer__text {
  font-size: 30px;
}
.card-offer__title {
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  z-index: 1;
}
.card-offer__text {
  margin-top: 12px;
  color: #FFF;
  font-size: 20px;
  opacity: 0.8;
  z-index: 1;
}
.card-offer__link {
  font-size: 16px;
  margin-top: 46px;
  z-index: 1;
  outline: none;
}
.card-offer__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 1px solid #C93;
  outline-offset: 8px;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.card-offer__link:focus::before {
  opacity: 1;
}
@media  (max-width: 990px) {
  .offer-wrap {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
  }
  .card-offer {
    max-width: 100%;
    background-size: cover;
    background-position: center;
    grid-area: auto;
  }
}
@media  (max-width: 768px) {
  .card-offer_3 .card-offer__title {
    margin-top: 100px;
  }
}
@media  (max-width: 540px) {
  .card-offer {
    height: 100%;
    padding: 40px 25px 40px 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card-offer_3::before {
    background: -webkit-gradient(linear, left top, right top, color-stop(-2.9%, rgba(48, 64, 89, 0.84)), color-stop(65.7%, rgba(53, 65, 83, 0.00)));
    background: -o-linear-gradient(left, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%);
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%);
  }
  .card-offer__title {
    font-size: 30px;
  }
  .card-offer__text {
    font-size: 16px;
  }
  .card-offer__link {
    margin-top: 20px;
    font-size: 12px;
  }
  .card-offer_3 .card-offer__title {
    margin-top: 0;
    margin-right: 48px;
    font-size: 30px;
  }
  .card-offer_3 .card-offer__text {
    font-size: 16px;
  }
}

/* about---------------------------------------------------------------- */
.about__text {
  padding-right: 282px;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%; 
}
@media (max-width: 768px) {
  .about__text {
    padding-right: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; 
  }
}

/* serices--------------------------------------------------------------- */
.services-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}
.services__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc(48% - 24px);
      flex-basis: calc(48% - 24px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 573px;
  min-width: calc(50% - 12px);
  width: 100%;
}
.services__images {
  height: 50%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.services__descr {
  min-height: 50%;
  border-radius: 0px 0px 15px 15px;
  background: #FFF;
  padding: 26px 20px 35px 45px;
}
.services__link {
  color: #C93;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%;
}
.services__link:active {
  color: #A47312;
}
.services__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 1px solid #C93;
  outline-offset: 8px;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.services__link:focus::before {
  opacity: 1;
}
.services__link:active::before {
  opacity: 0;
}
.services__text {
  max-width: 402px;
  line-height: 200%;
}
@media (max-width: 990px) {
  .services__card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .services__descr {
    padding-bottom: 10px;
  }
  .services__link {
    font-size: 30px;
    line-height: 150%;
  }
  .services__text {
    max-width: 500px;
    font-size: 20px;
    line-height: 150%;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .services__descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 26px 45px 35px 45px;
  }
  .services__link {
    font-size: 20px;
    line-height: 150%;
  }
  .services__text {
    max-width: 500px;
    font-size: 16px;
    line-height: 150%;
    margin-top: 0;
  }
}
@media (max-width: 540px) {
  .services__descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 26px 30px 35px;
  }
  .services__link {
    font-size: 20px;
    line-height: 120%;
  }
  .services__link.link::after {
    display: none;
  }
  .services__text {
    margin-top: 5px;
  }
}

/* advantage------------------------------------------------------------ */
.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 22px;
}
.advantage__item {
  min-width: 276px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: calc(25% - 22px);
      flex-basis: calc(25% - 22px);
  width: 100%;
  padding: 40px 42px 32px 45px;
  border-radius: 15px;
  background: #FFF;
}
.advantage-item__text {
  margin-top: 10px;
  line-height: 200%;
}
.advantage-item__img {
  display: block;
}
@media (max-width: 540px) {
  .advantage__item {
    padding-left: 30px;
  }
  .advantage-item__text {
    line-height: 150%;
  }
}

/* placement------------------------------------------------------------- */
.placement {
  padding-bottom: 70px;
}
.placement__list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
  gap: 24px;
}
.card-placement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border-radius: 15px;
  background: #FFF;
}
.card-placement__img {
  border-radius: 15px 15px 0px 0px;
  max-height: 217px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-placement__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 32px 45px 45px;
}
.card-placement__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-placement__price span {
  color: #999;
}
.card-placement__price b {
  font-size: 20px;
}
.card-placement__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
}
.card-placement__rating span {
  display: block;
  width: 14px;
  height: 14px;
  background-image: url(../sourses/star.svg);
}
.card-placement__rating .active-star {
  background-image: url(../sourses/active-star.svg);
}
.card-placement__name {
  margin: 16px 0;
}
.card-placement__region {
  color: #999;
  margin-bottom: 20px;
}
.card-placement__btn {
  width: 100px;
}
.card-placement__more {
  position: relative;
  padding: 30px;
  background-color: #999;
  background-image: url(../sourses/more-places.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 441px;
}
.card-placement__link {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  margin-top: 100%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.card-placement__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.card-placement__link::after {
  border-color: #FFF;
}
.card-placement__link:hover:after {
  border-color: #F0BF5F;
}
.card-placement__link:hover {
  color: #F0BF5F;
}
.card-placement__link:focus {
  color: #C93;
}
.card-placement__link:focus:after {
  border-color: #C93;
  margin-left: 0;
}
@media (max-width: 768px) {
  .placement__list {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }
  .card-placement {
    min-width: 290px;
  }
  .card-placement__info {
    padding: 30px;
  }
  .card-placement__link::after {
    display: none;
  }
}
@media (max-width: 400px) {
  .card-placement__link {
    font-size: 18px;
  }
}

/* selection----------------------------------------------------------- */
.selection {
  border-radius: 15px;
  background: #E9E9E9;
  padding: 45px;
}
.selection__title {
  padding-top: 0;
  padding-left: 0;
}
.selection__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 31px 28px;
  border-radius: 15px;
  background: #FFF;
  gap: 20px;
}
.form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__inner_1,
.form__inner_2 {
  max-width: 169px;
  width: 100%;
}
.form__inner_4,
.form__inner_5 {
  max-width: 120px;
  width: 100%;
}
.form__inner_6 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.form__label {
  font-size: 12px;
  margin-bottom: 15px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form__select { 
  padding-right: 15px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  color: inherit;
  background-color: transparent;
  background-image: url(../sourses/triangle.svg);
  background-repeat: no-repeat;
  background-position: right;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: textfield;
          appearance: textfield;
  opacity: 1;
}
.form__date {
  width: 100%;
  border: none;
  font-family: inherit;
  font-size: 16px;
  color: inherit;
  background-color: transparent;
}
.form__number {
  padding-bottom: 3px;
  border: none;
  border-bottom: 1px solid #E9E9E9;
  font-family: inherit;
  font-size: 16px;
  background-color: transparent;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
       appearance: textfield;
}
.form__btn {
  width: 108px;
}
@media (max-width: 990px) {
  .selection__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 24px;
  }
  .form__inner {
    width: 30%;
    max-width: 100%;
  }
  .form__btn {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .form__inner {
    width: 45%;
  }
}
@media (max-width: 540px) {
  .selection {
    padding: 30px;
  }
  .form__inner {
    width: 100%;
  }
}

/* contacts------------------------------------------------------------ */
.contacts-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 45px;
  margin-bottom: 40px;
  border-radius: 15px;
  background: #FFF;
}
.contacts__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 35%;
  margin-right: 50px;
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #E9E9E9;
  padding: 25px 0 22px;
}
.contacts__item:first-child {
  padding-top: 0;
}
.contacts__caption {
  font-size: 20px;
  font-weight: 700;
  margin-right: 23px;
}
.contacts__text {
  width: 223px;
  padding-right: 20px;
  line-height: 150%;
}
.contacts__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 223px;
}
.contacts__link {
  color: #C93;
  line-height: 150%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.contacts__link:hover {
  color: #F0BF5F;
}
.contacts__link:focus {
  color: #C93;
  outline: 1px solid #C93;
  outline-offset: 2px;
}
.contacts__link:active {
  color: #A47312;
  outline: none;
}
.mail-wrap {
  display: block;
  width: 223px;
}
.mail-inner__text {
  color: #999;
  font-size: 16px;
  line-height: 150%;
}
.contacts__btn {
  width: 213px;
  padding: 26px 28px;
  margin-top: 20px;
}
.contacts__img-wrap {
  margin-left: auto;
}
.contacts__img {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}
@media (max-width: 990px) {
  .contacts-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 24px;
  }
  .contacts__address {
    margin-right: 0;
  }
}
@media (max-width: 540px) {
  .contacts-wrap {
    padding: 30px;
  }
  .contacts__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__caption {
    margin-bottom: 15px;
  }
}

/* footer--------------------------------------------------------- */
.footer {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 45px;
  border-radius: 15px;
  background: #333;
  background-image: url(../sourses/sun.svg);
  background-repeat: no-repeat;
  background-position: bottom 1% right 20%;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 38px;
  width: 302px;
  margin-right: 125px;
}
.footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  margin-right: 20px;
  gap: 15px;
}
.footer-address__text {
  color: #FFF;
  line-height: 190%;
}
.footer__socials {
  margin-left: auto;
}
.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.footer__text {
  color: #FFF;
  line-height: 190%;
}
.footer__link {
  color: #C93;
  font-size: 16px;
  line-height: 150%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer__link:hover {
  color: #F0BF5F;
}
.footer__link:focus {
  color: #C93;
  outline: 1px solid #C93;
}
.footer__link:focus {
  color: #A47312;
  outline: none;
}
.footer-address__tel,
.footer-address__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer-socials__icon path {
  -webkit-transition: fill 0.2s linear;
  -o-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}
.footer-socials__icon:hover path {
  fill: #C93;
}
.footer-socials__link:focus path {
  fill: #C93;
}
.footer-socials__link:active path {
  fill: #A47312;
}
@media (max-width: 990px) {
  .footer__info {
    margin-right: 60px;
    gap: 10px;
  }
  .footer__text,
  .footer-address__text {
    line-height: 150%;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 0;
  }
  .footer-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-radius: 0%;
    background-image: none;
  }
  .footer__info {
    width: 45%;
    margin-right: 40px;
  }
  .footer-address {
    width: 45%;
    padding-left: 20px;
    margin-right: 0;
  }
  .footer-socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 20px;
    margin-left: 0;
  }
}
@media (max-width: 540px) {
  .footer-wrap {
    padding: 30px;
    font-size: 14px;
  }
  .footer__info,
  .footer-address {
    width: 100%;
    padding-left: 0;
  }
}
